<div class = "" > 
    <h1>検索結果：<%= @results.count %>件</h1>

    <div class = "base_frame" >
        <% @results.each do |results| %>
            <div class = "search_index_view" >
                <%= link_to results do %>
                    <%= results.room_name %>
                    <div class = "search_room_img" >
                        <%= image_tag results.room_image_url(:thumb ) if results.room_image.present? %>
                    </div>

                    <div class = "search_room" >
                        <h2><%= results.room_name %></h2>
                        <%= results.address %>
                        ￥<%= results.price %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
