<% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<%= image_tag @register.room_image_url if @register.room_image.present? %>

<%= image_tag @user.icon.thumb.url %>

<p>
  <strong>Room name:</strong>
  <%= @register.room_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @register.address %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @register.introduction %>
</p>

<p>
  <%= image_tag @register.room_image_url(:thumb ) if @register.room_image.present? %>
</p>

<div class = "right_frame" >
  <p>¥ <%= @register.price %> / 日</p>

  <%= form_with model: @booking, method: :get, url: new_booking_path(@booking) do |f| %>
    <%= f.hidden_field :register_id, value: @register.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <p>
      <%= f.label :start_date ,"開始日" %>
      <%= f.date_field :start_date %>
    </p>

    <p>
      <%= f.label :end_date ,"終了日" %>
      <%= f.date_field :end_date %>
    </p>

    <p>
      <%= f.label :person ,"人数" %>
      <%= f.number_field :person %>
    </p>
  

    <% if user_signed_in? %>
      <%= f.submit "予約する", class: "" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn log_in_btn' %>
    <% end %>
  <% end %>
</div>
