<div class = "right_frame">
    <h2>予約内容確認</h2>

    <p>¥ <%= @register.price %> / 日</p>

    <p>
        <strong>Room name:</strong>
        <%= @booking.start_date %>
    </p>

    <p>
        <strong>Address:</strong>
        <%= @booking.end_date %>
    </p>

    <p>
        <strong>Introduction:</strong>
        <%= @booking.person %>
    </p>

    <div class = "" >
        <p>¥ <%= @register.price %> / 日</p>
    </div>
</div>
