<% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<%= render "shared/error", obj: @booking %> 

<div class = "log_in" >
    <div class = "log_in_items">
        <%= form_with model: @booking, controller: 'posts', action: 'create' do |f| %>
            <%= f.hidden_field :register_id, value: @register.id %>
            <%= f.hidden_field :start_date, value: @booking.start_date %>
            <%= f.hidden_field :end_date, value: @booking.end_date %>
            <%= f.hidden_field :person, value: @booking.person %>
            <%= f.hidden_field :total_price, value: @booking.total_price %>

            <h2>予約内容確認</h2>

            <p>¥ <%= @register.price %> / 日</p>

            <p>開始日</p>
            <%= @booking.start_date %>

            <p>終了日</p>
            <%= @booking.end_date %>

            <p>使用日数：<%= @days %>日</p>

            <p>人数：<%= @booking.person %>人</p>

            <p>合計金額</p>
            <%= @booking.total_price %>

            <p>上記内容でよろしければ「予約を確定」を押してください</p>

            <%= f.submit "予約を確定", class: "search_btn2" %>
            <%= link_to "ルーム詳細に戻る", register_path(@register), class: "back_btn" %>
        <% end %>
    </div>
</div>
