<% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<div class = "base_frame" >
    <div class = "left_frame" >
            <li ><%= link_to "アカウント", user_path(current_user) %></li>
            <li class = "active" ><%= link_to "プロフィール", edit_user_path(current_user) %></li>
    </div>

    <div class = "right_frame" >
        <h2>プロフィール</h2>

        <%= form_with model:@user do |f| %>
            <div class="icon_img">
                <%= image_tag current_user.icon.thumb.url %>
            </div>

            <div class="field">
                <span class = "required" ><%= f.label :icon, "アイコン画像" %></span>
                <%= f.file_field :icon %>
            </div>

            <div class="field">
                <span class = "required" ><%= f.label :name, "名前" %></span>
                <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field">
                <span class = "required" ><%= f.label :profile, "自己紹介" %></span>
                <%= f.text_area :profile, autofocus: true, placeholder: "自己紹介を入力" %>
            </div>

            <div class="actions">
                <%= f.submit "更新", class: "actions_btn" %>
            </div>
        <% end %>
    </div>
</div>
