<% if flash.now[:notice] %>
    <p class="notice"><%= flash.now[:notice] %></p>
<% end %>

<div class = "top_page" >
    <div>
        <div class = "search_index">
            <p class = "search_letter" >Potepan Shareでまだ体験したことのない旅をしよう</p>
            <%= search_form_for @q, url: search_registers_path do |f| %>
                <%= f.label :address_cont ,"エリア" %></br>
                <%= f.search_field :address_cont, placeholder: "東京", class: "search_btn" %>

                <p><%= f.submit "探す", class:"search_btn2" %></p>
            <% end %>
        </div>
    </div>
</div>

<div class = "top_area" >
    <h1>おすすめのエリア</h1>

    <div class = "popular_area">
        <div class = "area Tokyo">
            <%= link_to image_tag( 'https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg', width: '186px', class: "image", alt: "東京" ), search_registers_path(q:{address_cont:"東京"}) %>
            <p class = "letter" >東京</p>
        </div>

        <div class = "area Osaka">
            <%= link_to image_tag( 'https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg', class: "image", alt: "大阪" ), search_registers_path(q:{address_cont:"大阪"}) %>
            <p class = "letter" >大阪</p>
        </div>

        <div class = "area Kyoto">
            <%= link_to image_tag( 'https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg', class: "image", alt: "京都" ), search_registers_path(q:{address_cont:"京都"}) %>
            <p class = "letter" >京都</p>
        </div>

        <div class = "area Sapporo">
            <%= link_to image_tag( 'https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg', class: "image", alt: "札幌" ), search_registers_path(q:{address_cont:"札幌"}) %>
            <p class = "letter" >札幌</p>
        </div>
    </div>
</div>
