<!DOCTYPE html>
<html>
  <head>
    <title>HotelApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class = "header_in" >
        <!-- 共通部分 -->
        <div class = "share">
          <%= link_to (image_tag ("https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png")), users_path %>

          <div class = "header_left">
            <div class = "header_search">
              <%= search_form_for @q_header, url: search_registers_path do |f| %>
                <%= f.search_field :address_cont, class: 'search_area', placeholder: "エリア" %>
                <i class = "fa-solid fa-location-dot icon"></i>
              <% end %>
            </div>

            <div class = "header_search">
              <%= search_form_for @q_header, url: search_registers_path do |f| %>
                <%= f.search_field :room_name_or_introduction_or_price_or_address_cont, class: 'search_keyword', placeholder: "キーワード" %>
                <i class = "fa-solid fa-magnifying-glass icon"></i>
              <% end %>
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
        <!-- ユーザーがログインしている場合 -->
          <div class = "header_right" >
            <p class = "header_user_name" ><%= current_user.name %></p>

            <div class = "btn-group" >
              <div class = "icon_btn" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <% if current_user.icon? %>
                  <!-- アイコン画像を登録している場合(アップローダーファイルで指定したサイズを表示) -->
                    <%= image_tag current_user.icon.thumb.url, :size => '65x65' %>
                  <% else %>
                  <!-- アイコン画像がデフォルト設定の場合 -->
                    <%= image_tag "/assets/default.png", :size => '65x65' %>
                  <% end %>
                </button>
              </div>
              <nav>
                <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
                  <li><%= link_to "ルーム登録", new_register_path %></li>
                  <li><%= link_to "予約済みルーム一覧", bookings_path %></li>
                  <li><%= link_to "登録済みルーム一覧", registers_path %></li>
                  <li><%= link_to "設定", user_path(current_user) %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </nav>
            </div>
          </div>
        <% else %>
        <!-- 未ログイン状態の場合 -->
          <div class ="button">
            <%= link_to "ログイン", new_user_session_path, class: 'btn log_in_btn' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'btn sign_in_btn' %>
          </div>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>©︎ 2022 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
